body{
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* .main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* Widly effective and sustainable */

.main-content {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  text-align: center;
  padding: 10px;
}

.main-content-title {
  font-size: 36px;
}

.box-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.box-content {
  font-size: 16px;
  text-align: center;
}

.box-img {
  width: 100px;
  height: auto;
}

/* How it works */

.body-box {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.body-img {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  justify-self: end;
}

.wildimage {
  width: 650px;
  height: auto;
  margin-right: 20px;
}

.body-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.body-item img {
  margin-right: 10px;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.main-body-title {
  margin-left: 50px;
  position: relative;
  top: 5px;
}

.leaf-img {
  width: 30px;
  height: auto;
}

.body-content {
  margin-top: 0;
}

ul {
  list-style: none;
}

/* On the grapevine */

.grapevine-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grapevine-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 900px;
  padding: 30px;
  width: 80%;
}

.grapevine-title {
  margin-top: 30px;
  
}

.trustpilot-logo {
  width: 200px;
}

img .green-stars{
  max-width: 100%;
  max-height: 100%;
}

.green-stars {
  max-width: 200px;
  display: block;
  height: auto;
  margin: 0 auto;
}

.trustpilot {
  text-align: center;
}

.excellent {
  margin-top: 0;
  margin-top: 30px;
}

.excellent-review {
  margin-bottom: 0;
}

.trustpilot-logo {
  width: 150px;
  height: auto;
}

.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}


.boxes-container{
  display: flex;
  align-items: center;
  margin-top: -250px;
  margin-left: 1000px;
  width: 80%;
}

.grapevine-boxes{
  margin-left: 50px;
  margin-bottom: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}

.green-stars-review{
  max-width: 100px;
  max-height: 100%;
  margin-top: -100px;
  margin: 0 auto 10px;
}

img .green-stars-review{
  max-width: 100%;
  max-height: 100%;
  margin-right: 100px;
}

.review-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  text-align: center;
}

.review-title {
  margin: 0;
}

.review-posted {
  margin: 0;
  font-size: 14px;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.review-bio {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.4;
}





/* Arms up, waste down */

.shopnow-container {
  display: flex;  
  min-width: 200px;
  max-width: 100%;
}

.shopnow-container img{
  height: auto;
  max-width: 100%;
}
